$green: #239a63;

body {
	background: #f6f6f6;
}

.gateway-container {
	font-family: "Open Sans";
	margin: 1rem auto 0 auto;
	border-radius: 2px;
	border:1px solid rgba(33,33,33,0.3);

	background: #fff;
	color: #39414b;
	
	display: flex;
	flex-direction: column;

	width: 96%;

	.gateway-header {
		img	{
			width: 80px;
		}
	}

	.gateway-body {
		display: flex;
		justify-content: space-between;
		padding: 1rem;

		
		.data {		
			width: 60%;
			word-wrap: break-word;

			.kv {
				margin-top: 1rem;

				.key {
					font-weight: bold;
					font-size: 1.1rem;
				}

				.value {
					background: transparent;
					border: 1px solid transparent;
					cursor: pointer;
					text-align: left;
					padding: 0;
					max-width: 100%;
					font-size: 1rem;

				}
			}
		}

		.qrcode-container {

			img {
				padding: 10px;
				border: 1px solid rgba(#000, 0.3);
				background: #fff;
			}
		}
	}
}
