body {
  background: #f6f6f6;
  font-family: "Open Sans";
}

.gateway-container {
  margin: 1rem auto 0 auto;
  border-radius: 2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: #fff;
  color: #39414b;
  display: flex;
  flex-direction: column;
}
.gateway-container .gateway-header img {
  width: 80px;
}
.gateway-container .gateway-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.gateway-container .gateway-body .data {
  width: 60%;
  word-wrap: break-word;
}
.gateway-container .gateway-body .data .kv {
  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.4rem;
  cursor: pointer;
}
.gateway-container .gateway-body .data .kv .key {
  font-weight: bold;
  font-size: 1rem;
}
.gateway-container .gateway-body .data .kv .value {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: left;
  padding: 0;
  max-width: 100%;
  font-size: 0.9rem;
}
.gateway-container .gateway-body .qrcode-container img {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container img {
  width: 80px;
}
